# User files
.vscode

# Program output files
*.out

# Compiled programs
*.exe

# Object files
*.o

# Generated folders
bin

# Hack files
*.hack

# Ignore required project 5 hack files
!projects/05/*.hack