# User files
.vscode

# Program output files
*.out

# Compiled programs
*.exe

# Object files
*.o

# Generated folders
bin

# Hack files
*.hack

# Allow required project 5 hack files
!projects/05/*.hack

# Ignore project 7 generated asm files
projects/07/**/*.asm

# Ignore file used for turning in projects
exe.txt